@media screen and (max-width: 760px){
    
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 38px;
        line-height: 50px;
    }
    form{
        margin: 0 auto;
        width: 100%;
    }
    input{
        align-self: center;
        max-width: 100%;
    }
    img{
        width: 400px;
        margin-top: 30px;
    }
    ul{
        text-align: center;
        
    }
    h1{
        margin: 0px;
    }
    h2,p{
        margin-left: 10px;
    }
    main{
        margin-top: 20px;
    }
}